#dash_nav {
  box-shadow: 0px 6px 10px #eeeeec;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #676767;
  padding: 10px 0px;
}
.dash_nav_link {
  transition: .2s;
  cursor: pointer;
}
.dash_nav_link:hover {
  box-shadow: 0px 6px #b7e1cf;
}
#dashboard-content {
  margin: 0 auto;
  /*border-right: solid 1px #eeeeec;
  border-left: solid 1px #eeeeec;*/
  padding: 15px 10px;
  height: 100%;
  width: 70%;
  color: #676767;
}
/* ===== Create new request button ===== */
#request_button {
  float: right;
  display: block;
  outline: none;
  margin: 5px;
}
.clear {
  clear: both;
}
/* ===== Dashboard tree images ===== */
.tree_img {
  width: 200px;
  position: fixed;
  bottom: 0;
}
#left_image {
  left: 0;
}

#right_image {
  right: 0;
}
