/* ==== Dashboard navigation ===== */
#dash_nav {
  box-shadow: 0px 6px 10px #eeeeec;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #676767;
  padding: 10px 0px;
}
.dash_nav_link {
  transition: .3s;
  cursor: pointer;
}
.dash_nav_link:hover {
  box-shadow: 0px 6px #b7e1cf;
}
/* ==== End dashboard navigation ===== */

#request_form_wrapper {
  margin-bottom: 30px;
}

/* ===== Content (User Requests Information) ====== */
#dashboard-content {
  margin: 0 auto;
  padding: 15px 10px;
  height: 100%;
  width: 70%;
  color: #676767;
}
/* ===== End Content (User Requests Information) ====== */

/* ===== Create new request button ===== */
#request_button {
  float: right;
  display: block;
  outline: none;
  margin: 5px;
  border: none;
}
.clear {
  clear: both;
}
#request_button span {
  margin-right: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #676767;
}
#request_button:hover {
  cursor: pointer;
}
.icon_size {
  width: 40px;
  height: auto;
}
/* ===== End Create new request button ===== */
.img_icon {
  width: 60px;
  height: auto;
}

/* ===== Dashboard tree images ===== */
.tree_img {
  width: 200px;
  position: fixed;
  bottom: 0;
}
#left_image {
  left: 0;
}

#right_image {
  right: 0;
}
/* ===== End Dashboard tree images ===== */


/* ===== Dashboard Tooltip ===== */

/* tooltip container */
.tool_tip {
  position: relative;
  display: inline-block;
  color: black;
  font-family: 'Nunito', sans-serif;
}

/* tooltip text; hidden by default */
.tool_tip .tool_tip_text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  bottom: 100%;
  margin-left: -60px;
  left: 50%;
  font-size: 0.8rem;

  opacity: 0;
  transition: opacity 0.3s;

  position: absolute;
  z-index: 1;
}

/* tooltip text visible on hover */
.tool_tip:hover .tool_tip_text {
  visibility: visible;
  opacity: 1;
}

.tool_tip .tool_tip_text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* ===== End Dashboard Tooltip ===== */


/* ======== Status of request ======= */
.pending {
  background-color: #fff9ce;
  height: 30px;
}

.pending h6 {
   vertical-align: center;
   line-height: 30px;
}

.matched {
  background-color: #d8ece4;
  height: 30px;
}

.matched h6 {
   vertical-align: center;
   line-height: 30px;
}
/* ======== End Status of request ======= */